node_modules
.idea
nohup.out
.tmp
.test
.sass-cache
npm-debug.log
bower_components
**/bower_components
ui/lib
ui/dist
blog/dist
env.json
.settings
.DS_Store
**/.DS_Store
.buildpath
.project
.zedstate
*.sublime-*