extends frame

block content
    
  header.container
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') FAKER
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/github') github
            li
              a(href='/perforce') perforce
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/login') login
            li 
              a(href='/register') register

  main.container
    block body

  footer.container-fluid.faker-footer(role='contentinfo')
    p.align-center 
      a(href='http://www.miibeian.gov.cn/') 苏ICP备14034957号-1