doctype html
html(ng-class='html')
  head
    title(ng-bind='title') loading...

    //- meta headers
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(http-equiv='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

    //- lib styles
    link(rel='stylesheet', href='lib/normalize.css/normalize.css')
    link(rel='stylesheet', href='lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='lib/angular/angular-csp.css')

    //- custom styles
    link(rel='stylesheet', href='src/styles/main.css')

  body(ng-class='body')
    block content

    //- lib scripts
    script(src='lib/jquery/dist/jquery.js')
    script(src='lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular-route/angular-route.min.js')
    script(src='lib/angular-resource/angular-resource.min.js')
    script(src='lib/angular-cookies/angular-cookies.min.js')

    //- custom scripts
    script(src='src/scripts/app.js')